# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.venv/
venv/

# Data (DVC-tracked)
# Ignore everything in raw and processed, but keep .dvc metadata + .gitignore
data/raw/*
!data/raw/*.dvc
!data/raw/.gitignore

data/processed/*
!data/processed/*.dvc
!data/processed/.gitignore

# Model artifacts
*.h5
*.pt
*.onnx
*.pkl

# Environment
.env
.dvcignore
.env.*
.dvcignore
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# Docker
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# DVC temp
/tmp/
